# ANTELOPE GENRAL CONFIG
antelope:
  oracle:
    name: "account"
    permission: "active"
    key: "5Kfr1..."
  rpc: "https://testnet.telos.caleos.io"
  hyperion: "https://testnet.telos.caleos.io"

# EVM GENRAL CONFIG
evm:
  api: "https://testnet.telos.net"
  rpc: "https://testnet.telos.net/evm"
  network: 41

# SCRIPTS CONFIG
scripts:
  listeners:
    console_log: true
    max_block_diff: 1000 # Restart stream if it hasn't received data since...
    table_check_interval_ms: 30000 # Check table to make sure stream didn't miss anything
    delphi:
      account: "delphioracle"
      bridge:
        active: true
        eosio_evm_scope:
    rng:
      account: "rng.oracle"
      evm_address: "0x6c33bdd2622e59fd10b411ff8d8d8d4dc5caf6ce"
      request:
        active: true
      bridge:
        active: true
        eosio_evm_scope: 35485
        evm_contract: "0x10b95d422F2C9714C331b1a14829886B0910F55d"
    gas:
      account: "eosio.evm"
      bridge:
        active: true
        check_interval_ms: 3000
        evm_contract: "0x648ac5a8c4E1ae5A93cd5BeDF143B095B8c49a2a"
        account: "gasbridge"
  updaters:
    delphi:
      active: true
      methods:
        - http:
            - url: ""
              response:
                format: "JSON"
                multiple: true
            - url: ""
              response:
                format: "text"
        - file:
            filepath: "/var/www/myfile"
            directory: "/var/www/"
            remove: true